.infinite-list-container {
    margin-top: 100px;
    width: 100%;
    overflow-y: auto;
  }
  
  .infinite-list-phantom {
    width: 100%;
  }
  
  .infinite-list {
    width: 100%;
    height: 100000px;
  }
  
  .infinite-list-item {
    box-sizing: border-box;
    width: 100%;
  }
  